
packages/**/dist
packages/**/build
packages/**/node_modules
packages/**/lib
packages/**/cli.js
packages/**/example/**/babel.config.js
packages/**/example/**/babel.config.js
packages/**/**/*.config.js

packages/ui/components

# packages/**/example
# !.build/test.js