{
  "extends": ["@react-native-community", "prettier"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "quoteProps": "preserve",
        "singleQuote": true,
        "tabWidth": 2,
        "trailingComma": "es5",
        "useTabs": false
      }
    ],
    "no-bitwise": 0,
    "prefer-const": "warn",
    "no-console": ["error", { "allow": ["warn", "error"] }]
  },
  "parserOptions": {
    "parser": "@babel/eslint-parser",
    "requireConfigFile": false,
    "ecmaVersion": 2018, // Allows for the parsing of modern ECMAScript features
    "sourceType": "module" // Allows for the use of imports
  },
  "plugins": ["prettier"]
}
