
packages/**/dist
packages/**/build
packages/**/node_modules
packages/**/lib
packages/**/cli.js

packages/ui/components

# packages/**/example
# !.build/test.js

ui/packages/ui/.ondevice
babel.config.js


example/storybook/__tests__/*
