function App() {
  const [showBottomSheet, setShowBottomSheet] = React.useState(false)
  const handleClose = () => setShowBottomSheet(false)

const items = React.useMemo(
  () => Array.from({ length: 20 }, (_, i) => 'Item ' + (i + 1)),[])


  return (
    <>
      <Button onPress={() => setShowBottomSheet(true)}>
        <ButtonText>Open Bottom Sheet</ButtonText>
      </Button>
      <BottomSheet isOpen={showBottomSheet} onClose={handleClose} snapPoints={[75]}>
        <BottomSheetBackdrop />
        <BottomSheetContent>
          <BottomSheetDragIndicatorWrapper>
            <BottomSheetDragIndicator />
          </BottomSheetDragIndicatorWrapper>
          <Text style={{ padding: 16, fontSize: 16, fontWeight: 'bold' }}>
            Scrollable Content
          </Text>
          <BottomSheetScrollView>
            {items.map((item, index) => (
              <BottomSheetItem key={index} onPress={handleClose}>
                <BottomSheetItemText>{item}</BottomSheetItemText>
              </BottomSheetItem>
            ))}
          </BottomSheetScrollView>
        </BottomSheetContent>
      </BottomSheet>
    </>
  )
}
