@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css';

@import 'nativewind/theme';

@layer theme {
    :root {
        --color-primary-0: #B3B3B3;
        --color-primary-50: #999999;
        --color-primary-100: #808080;
        --color-primary-200: #737373;
        --color-primary-300: #666666;
        --color-primary-400: #525252;
    --color-primary-500: #333333;
    --color-primary-600: #292929;
--color-primary-700: #1F1F1F;
--color-primary-800: #0D0D0D;
--color-primary-900: #0A0A0A;
--color-primary-950: #080808;

    /* Secondary  */
    --color-secondary-0: #FDFDFD;
    --color-secondary-50: #FBFBFB;
    --color-secondary-100: #F6F6F6;
    --color-secondary-200: #F2F2F2;
    --color-secondary-300: #EDEDED;
    --color-secondary-400: #E6E6E7;
    --color-secondary-500: #D9D9DB;
    --color-secondary-600: #C6C7C7;
    --color-secondary-700: #BDBDBD;
    --color-secondary-800: #B1B1B1;
    --color-secondary-900: #A5A4A4;
    --color-secondary-950: #9D9D9D;

    /* Tertiary */
    --color-tertiary-0: #FFFAF5;
--color-tertiary-50: #FFF2E5;
--color-tertiary-100: #FFE9D5;
--color-tertiary-200: #FED1AA;
--color-tertiary-300: #FDB474;
--color-tertiary-400: #FB9D4B;
--color-tertiary-500: #E78128;
--color-tertiary-600: #D7751F;
--color-tertiary-700: #B4621A;
--color-tertiary-800: #824917;
--color-tertiary-900: #6C3D13;
--color-tertiary-950: #543112;

    /* Error */
    --color-error-0: #FEE9E9;
--color-error-50: #FEE2E2;
--color-error-100: #FECACA;
--color-error-200: #FCA5A5;
--color-error-300: #F87171;
--color-error-400: #EF4444;
--color-error-500: #E63535;
--color-error-600: #DC2626;
--color-error-700: #B91C1C;
--color-error-800: #991B1B;
--color-error-900: #7F1D1D;
--color-error-950: #531313;

    /* Success */
    --color-success-0: 228 255 244;
    --color-success-50: 202 255 232;
    --color-success-100: 162 241 192;
    --color-success-200: 132 211 162;
    --color-success-300: 102 181 132;
    --color-success-400: 72 151 102;
    --color-success-500: 52 131 82;
    --color-success-600: 42 121 72;
    --color-success-700: 32 111 62;
    --color-success-800: 22 101 52;
    --color-success-900: 20 83 45;
    --color-success-950: 27 50 36;

    /* Warning */
    --color-warning-0: 255 249 245;
    --color-warning-50: 255 244 236;
    --color-warning-100: 255 231 213;
    --color-warning-200: 254 205 170;
    --color-warning-300: 253 173 116;
    --color-warning-400: 251 149 75;
    --color-warning-500: 231 120 40;
    --color-warning-600: 215 108 31;
    --color-warning-700: 180 90 26;
    --color-warning-800: 130 68 23;
    --color-warning-900: 108 56 19;
    --color-warning-950: 84 45 18;

    /* Info */
    --color-info-0: #ECF8FE;
--color-info-50: #C7EBFC;
--color-info-100: #A2DDFA;
--color-info-200: #7CCFF8;
--color-info-300: #57C2F6;
--color-info-400: #32B4F4;
--color-info-500: #0DA6F2;
--color-info-600: #0B8DCD;
--color-info-700: #0973A8;
--color-info-800: #075A83;
--color-info-900: #05405D;
--color-info-950: #032638;

    /* Typography */
    --color-typography-0: #FEFEFF;
--color-typography-50: #F5F5F5;
--color-typography-100: #E5E5E5;
--color-typography-200: #DBDBDC;
--color-typography-300: #D4D4D4;
--color-typography-400: #A3A3A3;
--color-typography-500: #8C8C8C;
--color-typography-600: #737373;
--color-typography-700: #525252;
--color-typography-800: #404040;
--color-typography-900: #262627;
--color-typography-950: #171717;

    /* Outline */
    --color-outline-0: #FDFEFE;
--color-outline-50: #F3F3F3;
--color-outline-100: #E6E6E6;
--color-outline-200: #DDDCDB;
--color-outline-300: #D3D3D3;
--color-outline-400: #A5A3A3;
--color-outline-500: #8C8D8D;
--color-outline-600: #737474;
--color-outline-700: #535252;
--color-outline-800: #414141;
--color-outline-900: #272624;
--color-outline-950: #1A1717;

    /* Background */
    --color-background-0: #FFFFFF;
--color-background-50: #F6F6F6;
--color-background-100: #F2F1F1;
--color-background-200: #DCDBDB;
--color-background-300: #D5D4D4;
--color-background-400: #A2A3A3;
--color-background-500: #8E8E8E;
--color-background-600: #747474;
--color-background-700: #535252;
--color-background-800: #414040;
--color-background-900: #272625;
--color-background-950: #121212;

    /* Background Special */
    --color-background-error: #FEF1F1;
--color-background-warning: #FFF3EA;
--color-background-success: #EDFCF2;
--color-background-muted: #F7F8F7;
--color-background-info: #EBF8FE;

    /* Focus Ring Indicator  */
    --color-indicator-primary: #373737;
--color-indicator-info: #5399EC;
--color-indicator-error: #B91C1C;
    }
  }

.hover-button {
  transition: transform 0.3s ease-in-out;
}

.hover-button:hover {
  transform: scale(5);
}