# Dotfiles
.babelrc
.eslintignore
.eslintrc.json
.gitattributes
_config.yml
.editorconfig


#Config files
babel.config.js

# Documents
CONTRIBUTING.md
ISSUE_TEMPLATE.txt
img

# Test cases
__tests__
dist/__tests__
