# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

components/ui/
components/docs-components/
utils/gluestack-utils/
sidebar.json
app/ui/docs/apps/
app/ui/docs/components/
app/ui/docs/guides/
app/ui/docs/home/
app/ui/docs/hooks/
app/ui/docs/mcp-server/

!/lib