function Example() {
  return (
    <Button variant='link'>
      <ButtonText className='font-medium text-sm text-foreground'>
        Back to top
      </ButtonText>
      <ButtonIcon as={ArrowUpIcon} className='h-3 w-3 text-foreground ml-1' />
    </Button>
  );
} 