@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/**
  Follows the setup for react-native-web:
  https://necolas.github.io/react-native-web/docs/setup/#root-element
  Plus additional React Native scroll and text parity styles for various
  browsers.
  Force Next-generated DOM elements to fill their parent's height
**/
  html, body, #__next {
    width: 100%;
    /* To smooth any scrolling behavior */
    -webkit-overflow-scrolling: touch;
    margin: 0px;
    padding: 0px;
    /* Allows content to fill the viewport and go beyond the bottom */
    min-height: 100%;
}

#__next {
    flex-shrink: 0;
    flex-basis: auto;
    flex-direction: column;
    flex-grow: 1;
    display: flex;
    flex: 1;
}

html {
    /* Prevent text size change on orientation change https://gist.github.com/tfausak/2222823#file-ios-8-web-app-html-L138 */
    -webkit-text-size-adjust: 100%;
    height: 100%;
}

body {
    display: flex;
    /* Allows you to scroll below the viewport; default value is visible */
    overflow-y: auto;
    overscroll-behavior-y: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-overflow-style: scrollbar;
}

#tab-list::-webkit-scrollbar {
  display: none;
  height: 2px;
}

#tab-list {
  scrollbar-gutter: stable both-edge;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-corner {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: transparent;
  /* border-radius: 20px;
  border: 3px solid transparent; */
}

/* Hide scrollbar for Chrome, Safari and Opera */
#heading-tabs::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#heading-tabs {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#formcss {
  /* border-radius: 12px; */
  /* border: 1px solid #3e495b; */
  background: #000;
  padding: 42px;
  padding-top: 100px;

  .form-columns-1 {
    margin-top: 20px;
  }

  .hs-button {
    background-color: red;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: var(--colors-secondary100);
    border-radius: var(--radii-md);
    outline: none;
    text-align: center;
    cursor: pointer;
  }

  .hs-form-booleancheckbox {
    list-style-type: none;
  }

  ul {
    list-style-type: none;
    display: contents;
  }

  ul > li {
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .form-columns-2 {
    margin-top: 24px;
    display: flex;
    gap: 32px;
  }

  .hs-submit {
    margin-top: 20px;
  }

  /* .hs-firstname .hs-country_name {
      padding-right: 16px;
    } */

  /* .hs-email .hs-phone {
      padding-left: 16px;
    } */

  .hs-firstname,
  .hs-company,
  .hs-email,
  .hs_message.hs-message.hs-fieldtype-textarea,
  .hs-fieldtype-select {
    margin-bottom: 20px;
  }

  .hs-form label {
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    color: #a3a3a3;
    margin-bottom: 4px;
    display: flex;
    align-items: flex-start;
  }

  .hs-input {
    background-color: #000 !important;
    padding-top: 8px;
    padding-bottom: 8px;
    border-width: 0;
    border-radius: 0;
    border-bottom-width: 1px;
    width: 100%;
    color: #ffffff;
    height: 38px;
    font-size: 14px;
    font-style: normal;
    line-height: 22px;

    &:focus-visible {
      border-color: #005db4;
      box-shadow: '0 1px 0 0 #9333ea';
      outline: none;
      outline-width: 0px;
    }
  }

  .hs-input[type='checkbox'] {
    height: 12px;
    width: 12px;
  }

  .hs-input[type='checkbox'] > span {
    text-align: left;
  }

  .hs-input::placeholder {
    color: #525252;
    font-style: normal;
    font-family: sans-serif;
    font-size: 14px;
    /* line-height: 18px; */
  }

  .hs-form-required {
    color: #ef4444;
  }

  .hs-input.invalid.error {
    border-bottom-color: #ef4444;
  }

  .hs-error-msgs {
    display: none !important;
    height: 0 !important;
  }

  /* .hs-input[type="checkbox"] {
      width: 20px;
      height: 20px;
      border-color: #a3a3a3;
      background-color: transparent;
      accent-color: red;
      border-width: 2px;
      border-radius: 6px;
      height: auto !important;
  
      &:checked {
        border-color: #005db4;
        background-color: #005db4;
      }
  
      &:hover {
        border-color: #fafafa;
      }
    } */

  /* .hs-form-field {
      margin-top: 20px;
    } */

  .hs-form-booleancheckbox-display {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 4px;

    & > span {
      color: #fafafa;
      font-family: Inter;
      font-size: 14px;
      /* line-height: 21px; */
    }
  }

  .hs-button[type='submit'] {
    padding: 10px 12px;
    background-color: #0077e6;
    border-radius: 4px;
    border-width: 0px;
    cursor: pointer;
    width: 100%;
    color: #fafafa;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    border: none;
  }

  /* Tried 1 */
  .hs-input[type='checkbox'] {
    -webkit-appearance: none;
    appearance: none;
    padding: 0;
    margin: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    border-radius: 3px;

    left: 0;
    margin-bottom: 0;
    margin-top: 0.125rem;
    margin-right: 0.5rem;
    display: grid;

    min-width: 20px;
    place-content: center;
    border-radius: 0.125rem;
    border-width: 2px;
    --tw-border-opacity: 1;
    border-color: #a3a3a3;
    padding: 0;
  }

  .hs-input[type='checkbox']::before {
    content: '';
    box-shadow: inset 32px 32px white;
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    /* clip-path: polygon(
        "  M5.77991 10.3587L2.85564 7.51611L1.59998 8.73672L5.77991 12.8L14.4
          4.42056L13.1443 3.19995L5.77991 10.3587Z"
      ); */

    width: 12px;
    height: 12px;
    transform: scale(0);
  }

  .hs-input[type='checkbox']:checked {
    background-color: #005db4;
  }

  .hs-input[type='checkbox']:checked::before {
    transform: scale(1);
  }

  .hs-fieldtype-textarea {
    min-height: 72px;
  }

  .submitted-message {
    color: #fafafa;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    font-family: Inter, sans-serif;
    font-style: normal;
  }

  .inputs-list {
    padding-left: 0px;
  }
  /* input:internal-autofill-selected {
      background-color: #000;
    } */
}

.light ::-webkit-scrollbar-thumb {
  background-color: transparent;
  /* border-radius: 20px; */
  /* border: 3px solid transparent; */
}
.dark ::-webkit-scrollbar-thumb {
  background-color: transparent;
  /* border-radius: 20px; */
  /* border: 3px solid transparent; */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}