function Example() {
  return (
    <HStack>
      <FormControl>
        <Button variant='outline'>
          <ButtonText>
            Cancel
          </ButtonText>
        </Button>
      </FormControl>
      <FormControl>
        <Button variant='destructive' className='ml-4'>
          <ButtonText>
            Delete
          </ButtonText>
        </Button>
      </FormControl>
    </HStack>
  );
} 