.DocSearch-Button {
  width: 256px;
  height: 32px;
  justify-content: space-between;
  opacity: 1;
  border-radius: 8px;
  padding-top: 6px;
  padding-right: 16px;
  padding-bottom: 6px;
  padding-left: 16px;
  background-color: #17171705;
  border: none;
}
.dark .DocSearch-Button {
  background-color: #1F1F1F;
}
.DocSearch-Button-Placeholder {
  font-size: 14px;
  font-weight: 400;
  color: #12121299;
  line-height: 20px;
  letter-spacing: 0%;
}
.dark .DocSearch-Button-Placeholder{
  color: #A1A1A1;
}
.DocSearch-Search-Icon {
  display: none;
}
.DocSearch-Button-Key{
  border-color: #1212120D;
  background-color: transparent;
  border-radius: 6px;
  color: #A1A1A1;
}
.dark .DocSearch-Button-Key{
  border-color: #A1A1A1;
  background-color: transparent;
  border-radius: 6px;
  color: #A1A1A1;
}
