name: Trigger gluestack-style-website | Create PR when pushed to master

on:
  push:
    branches:
      - documentation

jobs:
  build:
    name: Dispatch to 'gluestack-style-website'
    runs-on: ubuntu-latest
    steps:
      - name: Emit repository_dispatch
        uses: mvasigh/dispatch-action@main
        with:
          # You should create a personal access token and store it in your repository
          token: ${{ secrets.MY_GITHUB_TOKEN }}
          repo: ui-website
          owner: gluestack
          event_type: dispatch_ui_storybook_updated
          message: |
            {
              "repo": "ui"
            }
